// Variables para el tema con colores específicos
$primary: #ff2cbc;
$secondary: #ffc424;
$success: #4caf50;
$info: #00bcd4;
$warning: #ff5722;
$danger: #d32f2f;
$light: #f5f5f5;
$dark: #28242c;
$body-bg: #ffffff;
$text-color: #28242c;
